.Section
	color white
	height 100vh
	text-align center
	position relative
	&.is-animated
		> *
			opacity 0
.Section-wrapper
	margin auto
	max-width 800px
	padding 40px
	position relative
	top 50%
	transform translateY(-55%)
.Section-titleH1
	font-size 15vw
	color primary
