.Section
	color white
	height 100vh
	text-align center
	position relative
.Section-wrapper
	display block
	height 100vh
	margin auto
	max-width 800px
	position relative
.Section-titleH1
	font-size 15vw
	color primary
