@import 'vendors/normalize.css'
@import 'icons.css'
@import 'colors.styl'

body
	background-color #3498db
	font-family: 'Open Sans', sans-serif;
	margin 0
svg
	height 100vh
	width 100%
	
@import 'modules/Repo.styl'
@import 'modules/Section.styl'